.img-fluid {
  height: 300px !important;
  object-fit: cover;
}

.card-nosotros {
  background: rgba(22, 25, 22, 0.4) !important; /* Blanco semitransparente */
  backdrop-filter: blur(10px) !important; /* Blur */
  -webkit-backdrop-filter: blur(10px) !important; /* Safari */
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Sombra sutil */
  color: white !important;
}
